.restaurant {
  display: flex;
  flex-direction: column;  
  background-color: #f8f8f8;
  padding: 24px 180px;
  
    @media (max-width: 1000px) {
      padding: 24px;
    }
  
    & h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      padding: 24px 0px 20px 0px;
    }
  
    .menu {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      padding-bottom: 24px;
  
      @media (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
      }
    }
  
    .card {
      box-shadow: 2px 1px 10px -5px black;
      border-radius: 10px;
      position: relative;
  
      & .new {
        position: absolute;
        top: 8px;
        right: 10px;
        background-color: $color-tertiary;
        padding: 9px 12px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: $color-tertiary-strong;
      }
  
      & .card-image {
        height: 180px;
        width: 100%;        
        background-size: cover;
        background-position: bottom;
        border-radius: 10px 10px 0 0;
      }
  
      & .card-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $white;
        color: $black;
        border-radius: 0 0 10px 10px;
        padding: 16px;
        
  
        & h5 {
          
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
        }
  
        & p {
          
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          padding-top: 3px;
        }
      }
  
      & .card-image1 {
        background-image: url(/assets/images/restaurants/menu-1.jpg);
        object-fit: cover;
      }
  
      & .card-image2 {
        background-image: url(/assets/images/restaurants/menu-2.jpg);
        background-position: center;
      }
  
      & .card-image3 {
        background-image: url(/assets/images/restaurants/menu-3.jpg);
      }
  
      & .card-image4 {
        background-image: url(/assets/images/restaurants/menu-4.jpg);
      }
    }
  }

  