@mixin quarterspin {
    @keyframes quarterspin {
      0% {
        transform: rotate(-270deg);
      }
      100% {
        transform: rotate(0);
      }
    }
  }
  
  @keyframes appear {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }