// * {
//     box-shadow: 0 0 0 2px red inset;
// }
#content {
    position: relative;
    animation: content-appear 3.5s ease-in-out both;
}

.restaurant {
    padding: 0 50px;
    background-color: $gray-light;
    text-align: left;

    &__address {
        background-color: $gray-medium;
        font-style: normal;
        font-weight: 500;
        padding: 16px;
        margin-bottom: 35px;

        i {
            margin-right: 15px;
        }
    }

    h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0;
    }

    &__description {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
        padding: 0 20px;
    }
}

.steps {
    list-style-type: none;
    
}

.cards {
    background-color: $gray-light;
}   